*
{
    box-sizing: border-box;
}
body
{
    background-color: #C4C9CF;
}
#logo
{
    width: 120px;
}
#page {
	min-height:100vh; 
	display:flex;
	flex-direction:column;
}

#content {
	flex-grow:1;
	width: 80%;
 	margin: 0;
}
.jumbotron{
	width: 90%;
	margin: 1% 0 0 1%;
}
.security{
	display: flex;
	justify-content: space-around;
	position: absolute;
	text-decoration: none;
	top: 0;
	right: 1%;
	color: white;
}
.btn1{
	margin-right: 5px !important;
	color: blue !important;
	cursor: pointer !important;
	all: unset;
}
.btn-deconnexion{
	margin-right: 5px !important;
	color: blue !important;
	cursor: pointer !important;
	all: unset;
}
.article{
	width: 400px;
	height: 200px;
}
#entete{
	display: flex;
	justify-content: space-around;
}
.user{
	margin-right: 5px !important;
	color: darkblue  !important;
	cursor: pointer !important;
	all: unset;
}
#navbarColor01{
	display: contents !important;
}
ul.navbar-nav.mr-auto{
	display: contents !important;
}
.form-inline.my-2.my-lg-0{
	position: absolute !important;
	right: 1%;
}
.table-active{
	color: aliceblue;
}
tbody{
	border-bottom: 2px black solid;
}
.btn.btn-primary{
	margin: 0 0 2px 0 !important;
	height: 25px;
}
ul {
	list-style-type: none;
  }
.progress{
  position: relative;
  bottom: -20px;
  }
.description{
	display: flex;
	justify-content: space-between;
}
.text{
	color: black;
}
.accordion:after {
content: '\002B';
position: absolute;
cursor: pointer;
color: #e36b23;
right: 0;
top: 0%;
font-size: xx-large;
}
.actuel:after {
content: "\2212";
background-color:lightblue; 
}
blockquote{
	margin: 0;
}
.container{
	position: absolute;
	right: 0;
	top: 40%;
}
/* #form{
	display: flex; 
}*/
/* .example-wrapper{
	display: flex;
	justify-content: space-around;
} */
.example-wrapper>div{
	width: 50%;
}
#map{
	width: 200px;
	height: 200px;
	display: grid;
}
#carte{
	display: flex;
	justify-content: space-between;
}
.bg-primary {
	padding: 5%;
	background-color: #2F8A45 !important;
	margin-bottom: 0;
}
.header{
	display: flex;
	justify-content: space-between;
}
#logout,#login,.Delivery,#panier,#halal {
    width: 60px;
}
.head1{
	margin: 0;
	align-self: center;
}
#right{
	width: 20%;
	height: auto;
	min-height: 100%;
	position: relative;
}
#menu{
	position: absolute;
	top: -50px;
	width: 100%;
}
#bon{
	width: 100%;
	max-width: unset !important;
	position: absolute;
	bottom: 0px;
}
#wraper{
	display: flex;
}
.leaflet-bottom{
	display: none;
}
footer{
	position: fixed;
	background-color: #2F8A45;
	bottom: 0;
	width: 100%;
}