<form method="post" action="{{ path('image_delete', {'id': image.id}) }}"
    onsubmit="return confirm('Veuillez confirmer la suppression');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="breadcrumb-item">Delete</button>
</form>