<h1>Activation de votre compte</h1>
<p>Vous venez de vous inscrire chez Pizza Chicken Burger, désormis vous ne pouvez pas bénéficier de la totalité de nos
    service tant que votre compte n'est pas activé. Activer votre compte pour pouvoir modifier votre profile,
    passer des commandes et bénéficier de nos promotions. vous devez appuyer sur le lien si dessous.
    Merci</p><br>
<p><a href="{{ absolute_url(path('user_activation', {'token' : token})) }}"></a>Activer Votre Compte</p>