<form method="post" action="{{ path('produits_on_menu_delete', {'id': produits_on_menu.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produits_on_menu.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>